.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

body {
    background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);

    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
    
    /* background-attachment: fixed;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f3f3f3;
    font-family: 'Lato','Nanum Gothic';
    background: url(images/many_v.jpg); */
}

header {
    background: linear-gradient(180deg, #eee, #fff 100px, #fff);
}

.container {
    max-width: 960px;
}

main section {
    height: 100vh;
}

section .pt-100 {
    padding-top:100px;
}


.image_holder {
    width: 400px;
    margin: 0 auto;
}

.image_holder img {
    width: 100%;
}


.nft_holder {
    width: 300px;
    margin: 0 auto;
}

.nft_holder img {
    width: 100%;
}


.activities {
    height:500px;
    padding: 30px 0px;
}